<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <title>Polykub</title>
</head>
<body class="d-flex p-2 flex-column vh-100">
    {{> header }}
    <section class="h-100 d-flex flex-column justify-content-center align-items-center">
        <h1>C'était le 26 mai 93</h1>
        <h2><a class="nav-link" target="_blank" href="https://en.wikipedia.org/wiki/Basile_Boli">{{ buteur }}</a></h2>
        <img src="https://www.laprovence.com/media/2018/04/04/1522853959_1om.jpg" class="img-fluid w-25" alt="Responsive image">
    </section>
    {{> footer }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>